{%extends 'layout.html' %} {%block body%}

<div class="jumbotron text-center">
    
        <table class="table table-hover">
            <tr class="text-center">
                <th>S.No</th>
                <th style="text-align: center;">State Name</th>
                <th>Total Cases</th>
                <th>Confirmed Cases</th>
                <th>Active Cases</th>
                <th>Discharged Cases</th>
                <th style="text-align: center;">Helpline Number</th>
            </tr>
        {% for i in range (0,name|length) %}
        
            <tr>
                <td>
        {{i+1}}
                </td>
                <td>
        {{name[i]}} 
                </td>
                <td>
        {{number[i]}}
                </td>
                <td>
        {{conf[i][10:]}}
                </td>
                <td>
        {{active[i][7:]}}
                </td>
                <td>
        {{disc[i][10:]}}
                 </td>
                 <td>
                     {{hel[i]}}
                     </td>
            </tr>
        
        {% endfor %}
        </table>
   
</div>
<script>
    window.watsonAssistantChatOptions = {
        integrationID: "75d14d0f-68b1-4939-9f65-49e5b32215e4", // The ID of this integration.
        region: "eu-gb", // The region your integration is hosted in.
        serviceInstanceID: "81afe227-0b23-4c08-b320-983cdbaf2ac8", // The ID of your service instance.
        onLoad: function(instance) {
            instance.render();
        }
    };
    setTimeout(function() {
        const t = document.createElement('script');
        t.src = "https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js";
        document.head.appendChild(t);
    });
</script>



{%endblock%}